<template name="Home">
  <h2>My Fav Articles</h2>
  <div class="home row">    
    <div class="col-xs-12 col-md-6">
        <h3>Linux Kernel 4.5 Officially Released</h3>
        <article class="text-justify">Yes, you're reading it right, after being in development for the past two months, Linux kernel 4.5 is finally here in its final production version. It is internally dubbed "Blurry Fish Butt" and received a total of seven RC builds since January 25, 2016. Prominent features of Linux kernel 4.5 include the implementation of initial support for the AMD PowerPlay power management technology, bringing high performance to the AMDGPU open-source driver for Radeon GPUs, scalability improvements in the free space handling of the Btrfs file system, and better epoll multithreaded scalability. The sources are now available for download from kernel.org.</article>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3>9 Open Source Alternatives To Picasa</h3>
        <article class="text-justify">After over a decade of ownership of the product, Google announced just a few weeks ago that it will be closing the shutters for good on Picasa, a cross-platform photo viewer and organizer with basic editing capabilities. In the official announcement, Google has set March 15 as the end of support for the desktop client, with changes to the accompanying web-album hosting service set to roll out later in the spring. On Opensource.com, Jason Baker rounded up 9 open source and Linux-compatible alternatives to the popular photo sharing service.</article>
    </div>    
  </div>
</template>
